{{define "twitter_card"}}
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="http://www.tugberkugurlu.com" />
    <meta property="og:title" content="Tugberk Ugurlu @ the Heart of Software" />
    <meta property="og:description" content="Software Engineer and Tech Product enthusiast Tugberk Ugurlu's home on the interwebs! Here, you can find out about Tugberk's conference talks, books and blog posts on software development techniques and practices." />
    <meta property="og:image" content="http://www.tugberkugurlu.com/assets/images/tugberk-ugurlu-speaker-sub-header-2.jpg" />
    <meta name="twitter:site" content="@tourismgeek" />
    <meta name="twitter:creator" content="@tourismgeek" />
{{end}}
{{define "content"}}
<div id="home" class="ui divided items">
    {{ range $post := .Posts }}
        <div class="item">
            {{ $length := len $post.Images }} {{ if ne $length 0 }}
                <div class="image">
                    <img src="{{ (index $post.Images 0) }}">
                </div>
            {{ end }}
            <div class="content">
                <a href="/archive/{{ (index $post.Metadata.Slugs 0) }}" class="header">{{$post.Metadata.Title}}</a>
                <div class="meta">
                    <span class="cinema">{{$post.PublishedOnDisplay}}</span>
                </div>
                <div class="description">
                    <p>{{$post.Metadata.Abstract}}</p>
                </div>
                <div class="extra">
                    {{ range $tag := $post.Metadata.Tags }}
                        <div class="ui teal tiny label">{{$tag}}</div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
{{end}}