{{define "content"}}
<div class="ui divided items">
    {{ range $post := .Posts }}
        <div class="item">
            {{ $length := len $post.Images }} {{ if ne $length 0 }}
                <div class="image">
                    <img src="{{ (index $post.Images 0) }}">
                </div>
            {{ end }}
            <div class="content">
                <a href="/archive/{{ (index $post.Metadata.Slugs 0) }}" class="header">{{$post.Metadata.Title}}</a>
                <div class="meta">
                    <span class="cinema">@ {{$post.Metadata.CreatedOn}}</span>
                </div>
                <div class="description">
                    <p>{{$post.Metadata.Abstract}}</p>
                </div>
                <div class="extra">
                    {{ range $tag := $post.Metadata.Tags }}
                        <div class="ui teal tiny label">{{$tag}}</div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
{{end}}