{{define "twitter_card"}}
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="https://www.tugberkugurlu.com" />
    <meta property="og:title" content="Tugberk Ugurlu @ the Heart of Software" />
    <meta property="og:description" content="Software Engineer and Tech Product enthusiast Tugberk Ugurlu's home on the interwebs! Here, you can find out about Tugberk's conference talks, books and blog posts on software development techniques and practices." />
    <meta property="og:image" content="{{ .Config.AssetsUrl }}/images/tugberk-ugurlu-speaker-sub-header-2.jpg" />
    <meta name="twitter:site" content="@tourismgeek" />
    <meta name="twitter:creator" content="@tourismgeek" />
{{end}}
{{define "content"}}
<div id="home-posts">
    <h2 class="ui header">
        {{ .Data.TopCarousel.Title }}
    </h2>
    <div class="ui divider"></div>
    <div class="carousel-outer">
        <div class="carousel">
            {{ range $post := .Data.TopCarousel.Posts }}
                <div class="carousel-item">
                    <div class="ui fluid card">
                        <div class="image">
                            <a class="ui violet ribbon label">{{ $post.Highlight }}</a>
                            <a href="/archive/{{ (index $post.Metadata.Slugs 0) }}">
                                <img src="{{ (index $post.Images 0) }}">
                            </a>
                        </div>
                        <div class="content">
                            <a href="/archive/{{ (index $post.Metadata.Slugs 0) }}" class="header">{{ $post.Metadata.Title }}</a>
                            <div class="meta">
                                <span>{{ $post.PublishedOnDisplay }}</span>
                            </div>
                            <div class="extra">
                                {{ range $tag := .Tags }}
                                    <a class="ui image teal mini label" href="/tags/{{ $tag.Key }}">
                                        {{ $tag.Value.Name }}
                                        <div class="detail">{{ $tag.Value.Count }}</div>
                                    </a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>

    <h2 class="ui header">
        Recent posts
    </h2>
    <div class="ui divider"></div>
    <div>
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- tgbrk_responsive_3 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4310648294454189"
                 data-ad-slot="5932806794"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </center>
    </div>
    <div id="home" class="ui divided items">
        {{ range $post := .Data.Posts }}
            {{ template "post-item" $post }}
        {{ end }}
    </div>

    <div class="ui stackable grid">
        <div class="one column row">
            <div class="right floated column">
                <a class="ui right floated purple button" href="/archive">View more posts</a>
            </div>
        </div>
    </div>
</div>

<div>
    <h2 class="ui header">
        Recent speaking activities
    </h2>
    <div class="ui divider"></div>
    <div>
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- tgbrk_responsive_3 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4310648294454189"
                 data-ad-slot="5932806794"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </center>
    </div>
    <div class="ui grid">
        <div class="row" id="past-activities">
            <div class="sixteen wide column">
                <div class="ui two column grid">
                    {{ range $activity := .Data.SpeakingActivities }}
                        <div class="column">
                            {{ template "speaking_activity_card" $activity }}
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>

    <div class="ui stackable grid">
        <div class="one column row">
            <div class="right floated column">
                <a class="ui right floated purple button" href="/speaking">View more speaking activities</a>
            </div>
        </div>
    </div>
</div>
{{end}}