{{define "layout"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="Tugberk Ugurlu @ the Heart of Software" href="/Feeds/Rss" />
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}" />
    {{template "twitter_card" .Data}}
    <link rel="stylesheet" href="/assets/Semantic-UI-CSS-2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/assets/Semantic-UI-CSS-2.4.1/semantic.min.js"></script>
    <script>
        $(document)
            .ready(function() {
                $('.ui.menu .ui.dropdown').dropdown({
                    on: 'hover'
                });
            });
    </script>
</head>
<body>
<div class="ui purple inverted menu big">
    <div class="header item">
        <a href="/">Tugberk @ the Heart of Software</a>
    </div>
    <a class="item top-menu-item {{if eq .Section "archive" }}active{{end}}" href="/archive">Blog</a>
    <a class="item top-menu-item {{if eq .Section "speaking" }}active{{end}}" href="/speaking">Speaking</a>
    <a class="item top-menu-item {{if eq .Section "about" }}active{{end}}" href="/about">About</a>
    <a class="item top-menu-item {{if eq .Section "contact" }}active{{end}}" href="/contact">Contact</a>
</div>
<nav id="bottom-nav" class="d-md-block d-lg-none">
    <table>
        <tbody>
        <tr>
            <td style="text-align: center;" class="p-0">
                <a href="/">
                    <div><i class="home icon"></i></div>
                    <div>Home</div>
                </a>
            </td>
            <td style="text-align: center;" class="p-0">
                <a href="/speaking">
                    <div><i class="bullhorn icon"></i></div>
                    <div>Speaking</div>
                </a>
            </td>
            <td style="text-align: center;" class="p-0">
                <a href="/about">
                    <div><i class="info icon"></i></div>
                    <div>About</div>
                </a>
            </td>
            <td style="text-align: center;" class="p-0">
                <a href="/contact">
                    <div><i class="envelope icon"></i></div>
                    <div>Contact</div>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</nav>
<div class="ui container" id="main">
    <div class="ui stackable grid">
        <div class="row">
            <div class="eleven wide column">
                {{template "content" .Data}}
            </div>
            <div id="sidebar" class="five wide column">
                <div class="ui one cards">
                    <div class="ui card">
                        <div class="image">
                            <img src="/assets/images/47964651187_61a8d64017_o.jpg">
                        </div>
                        <div class="content">
                            <a class="header center aligned" href="/about">Hey, I'm Tugberk 👋</a>
                            <div class="description center aligned">
                                <p>Coder 👨🏻‍💻, Speaker 🗣, Author 📚, ex-Microsoft MVP 🕸, Blogger 💻, Software Engineering at Deliveroo 🍜, F1 fan 🏎, Loves travelling 🛫</p>
                                <p>I live in London, UK 🏡</p>
                            </div>
                        </div>
                        <div class="extra content center aligned">
                            <a href="https://twitter.com/tourismgeek" target="_blank">
                                <i class="twitter icon large"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/tugberk" target="_blank">
                                <i class="linkedin icon large"></i>
                            </a>
                            <a href="https://github.com/tugberkugurlu" target="_blank">
                                <i class="github icon large large"></i>
                            </a>
                            <a href="https://stackoverflow.com/users/463785/tugberk" target="_blank">
                                <i class="stack overflow icon large"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCud8oMotNv_-C3_SH6tm1oA" target="_blank">
                                <i class="youtube icon large"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="sidebar-container">
                    <a href="https://stackexchange.com/users/211547"><img src="https://stackexchange.com/users/flair/211547.png" width="208" height="58" alt="profile for tugberk on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for tugberk on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
                </div>

                <div class="sidebar-container">
                    <div class="ad-inner" data-type="ad" data-publisher="lqm.tugberkugurlu.site" data-zone="ron" data-format="300x250" data-tags="{{ .AdTags }}"></div>
                </div>

                <div class="sidebar-container">
                    <div class="ad-inner" data-type="ad" data-publisher="lqm.tugberkugurlu.site" data-zone="ron" data-format="300x250" data-tags="{{ .AdTags }}"></div>
                </div>

                <div class="ui medium rectangle ad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- tgbrk_responsive -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-4310648294454189"
                         data-ad-slot="3956545990"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <h4 class="ui horizontal divider header">
                    <i class="tag icon"></i>
                    Tags
                </h4>
                <div id="section-tags">
                    {{ range $value := .Tags }}
                        <a class="ui image small label" href="/tags/{{ $value.Key }}">
                            {{ $value.Value.Name }}
                            <div class="detail">{{ $value.Value.Count }}</div>
                        </a>
                    {{ end }}
                </div>

                <div class="ui medium rectangle ad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- tgbrk_responsive_2 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-4310648294454189"
                         data-ad-slot="4456073593"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <div class="ui medium rectangle ad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- tgbrk_responsive -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-4310648294454189"
                         data-ad-slot="3956545990"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{{ if ne .Config.GoogleAnalyticsTrackingId "" }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ .Config.GoogleAnalyticsTrackingId }}', 'auto');
        ga('send', 'pageview');
    </script>
{{ end }}
<script>
    function _dmBootstrap(file) {
        var _dma = document.createElement('script');
        _dma.type = 'text/javascript';
        _dma.async = true;
        _dma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + file;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(_dma);
    }
    function _dmFollowup(file) { if (typeof DMAds === 'undefined') _dmBootstrap('cdn2.DeveloperMedia.com/a.min.js'); }
    (function () { _dmBootstrap('cdn1.DeveloperMedia.com/a.min.js'); setTimeout(_dmFollowup, 2000); })();
</script>
<script>
    $(document).ready(function() {
        // Old blog posts have the image paths in a random casing. Who knows why ¯\_(ツ)_/¯
        // However, linux has a case sensitive file system. To get around this, all the files and folders are lowercased.
        // Here, we are changing all the URLs to be lowercase, too
        $("#post-holder a").each(function(i) {
            var anchorRef = $(this);
            var link = anchorRef.attr("href");
            if(link.toLowerCase().indexOf('/content/images/') !== -1) {
                anchorRef.attr("href", link.toLowerCase());
            }
        });
        $("#post-holder img, #home img").each(function(i) {
            var imgRef = $(this);
            var link = imgRef.attr("src");
            if(link.toLowerCase().indexOf('/content/images/') !== -1) {
                imgRef.attr("src", link.toLowerCase());
            }
            var classVal = imgRef.attr("class");
            if (classVal !== undefined) {
                imgRef.attr("class", classVal + " " + "ui image");
            } else {
                imgRef.attr("class", "ui image");
            }
        });
    });
</script>
</body>
</html>
{{end}}