{{define "twitter_card"}}
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="http://www.tugberkugurlu.com/archive/{{ (index .Data.Post.Metadata.Slugs 0) }}" />
    <meta property="og:title" content="{{ .Data.Post.Metadata.Title }}" />
    <meta property="og:description" content="{{ .Data.Post.Metadata.Abstract }}" />
    {{ $length := len .Data.Post.Images }} {{ if ne $length 0 }}
        <meta property="og:image" content="{{ (index .Data.Post.Images 0) }}" />
    {{ end }}
    <meta name="twitter:site" content="@tourismgeek" />
    <meta name="twitter:creator" content="@tourismgeek" />
{{end}}

{{define "content"}}
<h1 class="ui header">
    {{ .Data.Post.Metadata.Title }}
</h1>

<div class="ui tall stacked segment">
    <div class="ui stackable grid">
        <div class="row">
            <div class="twelve wide column">
                {{ .Data.Post.Metadata.Abstract }}
            </div>
            <div class="four wide column">
                @ {{ .Data.Post.PublishedOnDisplay }}
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column post-tags-list">
                {{ range $tag := .Data.Post.Tags }}
                    <a class="ui image teal small label" href="/tags/{{ $tag.Key }}">
                        {{ $tag.Value.Name }}
                        <div class="detail">{{ $tag.Value.Count }}</div>
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div>
    <center>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- tgbrk_responsive_3 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4310648294454189"
             data-ad-slot="5932806794"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </center>
</div>

<div id="post-holder">
    {{ .Data.Post.Body }}
</div>

<div class="ui divider"></div>
<div style="text-align: center;">
    <div class="ad-inner" data-type="ad" data-publisher="lqm.tugberkugurlu.site" data-zone="ron" data-format="728x90" data-tags="{{ .Data.AdTags }}"></div>
</div>
<div class="ui divider"></div>

<div>
    <div id="disqus_thread"></div>
    <script>
        // *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        // *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
            this.page.url = 'http://www.tugberkugurlu.com/archive/{{ (index .Data.Post.Metadata.Slugs 0) }}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ .Data.Post.Metadata.ID }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//tugberkugurlu.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<div class="ui divider"></div>

<div>
    <center>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- tgbrk_responsive_3 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4310648294454189"
             data-ad-slot="5932806794"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </center>
</div>

<div class="ui divider"></div>
{{end}}