{{define "twitter_card"}}
{{end}}

{{define "content"}}
<h1 class="ui header">
    {{.Metadata.Title}}
</h1>

<div class="ui tall stacked segment">
    <div class="ui stackable grid">
        <div class="row">
            <div class="twelve wide column">
                {{.Metadata.Abstract}}
            </div>
            <div class="four wide column">
                @ {{.PublishedOnDisplay}}
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                {{ range $tag := .Metadata.Tags }}
                    <div class="ui teal medium label">{{$tag}}</div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div id="post-holder">
    {{.Body}}
</div>
{{end}}